$backGroundColor: #ffffff; 
$fontColor: #2c2f3c;
$lineColor: #14a0c7;
$backGroundImg: #21232e;
$buttonColor: #699900;
$gradient: linear-gradient(45deg, #689801, #2c5ade);
$fontColorFuter: #c0c3ce;
$backGroundHeader: url("../img/m-h-day.jpg") no-repeat 0 -187px;