$backGroundColor: #21232e; 
$fontColor: #ffffff;
$lineColor: #ff4e33;
$backGroundImg: #3b3f50;
$buttonColor: #e3ac00;
$fontColorFuter: #c0c3ce;
$gradient: linear-gradient(45deg, #e3ab01, #912b53);
$backGroundHeader: url("../img/m-h-night.jpg");